{#
/**
 * @file
 * Theme implementation to display the custom Superman route.
 *
 * Available variables:
 * - text: The text in the URL.
 *
 * @ingroup themeable
 */
#}

{% if text is not null %}
	<h1 class="superman-route-text centered">{{ text }}</h1>
{% endif %}
