{#
/**
 * @file
 * Theme implementation to display the custom Superman block.
 *
 * Available variables:
 * - image|raw: The uploaded image.
 * - title: The Block Title.
 * - description: Description of the block.
 *
 * @ingroup themeable
 */
#}

{% if image is not null %}
	<div class="superman-image centered">{{ image|raw }}</div>
{% endif %}

{% if title is not null %}
	<h2 class="superman-title centered">{{ title }}</h2>
{% endif %}

{% if description is not null %}
	<div class="superman-description centered">{{ description }}</div>
{% endif %}
